<p id="notice"><%= notice %></p>

<dl>
  <dt>name</dt>
  <dd><%= @exhibition.name %></dd>
  <dt>description</dt>
  <dd><%= @exhibition.description %></dd>
  <dt>photos</dt>
  <dd>
    <% @exhibition.photos.each do |p| %>
      <%= image_tag p.image.to_s %>
    <% end %>
  </dd>
</dl>

<%= link_to 'Edit', edit_admin_exhibition_path(@exhibition) %> |
<%= link_to 'Back', admin_exhibitions_path %>
