<header class="header">
  <div class="header__site-info">
    <%= link_to root_path do %>
      <h1 class="header__site-name"><%= @site.name %></h1>
    <% end %>
  </div>
</header>
<menu class="menu">
  <% @exhibitions.each do |e| %>
    <li class="menu__photo-suit"><%= link_to e.name, e %></li>
  <% end %>
  <% @texts.each do |t| %>
    <li class="menu__photo-suit"><%= link_to t.title, t %></li>
  <% end %>
  <li class="menu__photo-suit"><%= link_to @site.name, about_path %></li>
</menu>
