<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Admin <%= @site.name %></title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
  </head>

  <body class="admin">
    <header class="admin__title">
      <%= link_to admin_path, admin_path%>
      <%= link_to root_path, root_path%>
    </header>
    <%= render 'admin/menu' %>
    <% if flash.present? %>
      <ul class="flash">
        <% flash.each do |messages|  %>
          <li><%= messages[1] %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
